@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'RobotoLight';
  src: url("/fonts/Roboto-Light.ttf");
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 0;
}
 

body {
  font-family: "Roboto";
  text-align: center;
  background-color: #eee;
  margin: 0 auto;
}

.container {
  padding-top: 2px;
  margin: auto;
  width: 960px;
  height: auto;
  background-color: #eee;
/*   border: 1px solid rgb(209, 203, 203); */
}

.head {
  width: 100%;
  height: 230px;
  background-color: #f9f9f9;
  text-align: center;
  filter: drop-shadow(0 0 2.5px rgba(0,0,0,0.25));
}

header {
  margin: auto;
  display: block;
  position: relative;
  height: 230px;
  width: 960px;
  text-align: left;
  /* box-shadow: 0 0 2.5px rgba(209, 203, 203); */
/*   border: 1px solid rgb(209, 203, 203); */
}

.h-text {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-top: 34px;
}

.info-header {
  display: block;
  padding: 4px;
  font-size: 12px;
  color: #000000;
  font-weight: 700;
  font-family: "Roboto";
}

.info-email {
  display: inline-block;
  vertical-align: top;
  text-decoration: underline;
  font-size: 11px;
  color: #000000;
  font-weight: 400;
  font-family: "Roboto";
}

h2 {
  margin-top: 66px;
  width: 707px;
  height: 276px;
  font-size: 48px;
  line-height: 48px;
  color: #000000;
  font-weight: 200;
  font-family: "RobotoLight";
}

.logo {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  right: 10px;
  top: 0;
}

main {
  text-align: left;
  background-color: #eee;
}

.user-block {
  padding-top: 10px;
  padding-bottom: 10px;
 
}

p.name {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  font-weight: 700;
  font-family: "Roboto";
}

span.date {
  display: inline-block;
  vertical-align: bottom;
  padding-left: 20px;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  font-weight: 300;
  font-family: "Roboto";
}

p.user-comment {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-weight: 300;
  font-family: "Roboto";
  padding-top: 7px;
  padding-bottom: 7px;
}

hr {
  background-color: #d4d4d4;
  width: 100%;
  height: 1px;
  margin-top: 12px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  font-weight: 400;
  font-family: "Roboto";
  margin-top: 20px;
}

label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-weight: 300;
  font-family: "Roboto";
  margin-top: 16px;
}

#username {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-weight: 300;
  font-family: "Roboto";
  width: 460px;
  height: 40px;
  /* border: 1px solid black; */
  margin-top: 10px;
  border-radius: 4px;
}

#usercomment {
  width: 460px;
  height: 134px;
  border: 1px solid black;
  margin-top: 12px;
  border-radius: 4px;
  font-size: 14px;
  color: #000000;
  font-family: "Roboto";
  white-space: pre; /* Учитываются все пробелы и переносы */ 
}

.submit {
  width: 134px;
  height: 42px;
  border: 1px solid black;
  color: black;
  font-size: 17px;
  font-weight: 300;
  font-family: "Roboto";
  margin-left: 328px;
  margin-top: 9px;
  border-radius: 4px;
}

.foot {
  height: 165px;
  width: 100%;
  text-align: center;
  background-color: #f9f9f9;

}

footer {
  margin: 0 auto;
  width: 960px;
  height: 165px;
  background-color: #f9f9f9;
  text-align: left;
  margin-top: 56px;
}

.f-logo,
.block-f-info {
  display: inline-block;
  vertical-align: top;
}

.block-f-info {
  margin-left: 32px;
  margin-top: 30px;

}

.footer-info {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  color: #000000;
  font-weight: 700;
  font-family: "Roboto";
  padding-top: 4px;
  padding-bottom: 4px;
}

.company {
  display: inline-block;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  font-family: "Roboto";
  margin-top: 10px;
}

.users-block {
  margin-top: 22px;
}
